{% load staticfiles %}

<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/html">
    <title>Life is beautiful</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="container header">
            <ul class="header-list">
                <li class="list-item">about</li>
                <li class="list-item">history</li>
                <li class="list-item">interests</li>
                <li class="list-item">hobby</li>
                <span><i class="fas fa-anchor fa-x"></i></span>
            </ul>
        </div>
    </div>
    <div class="top-wrapper">
        <div class="container top">
            <h1>Life</h1>
            <h1>is</h1>
            <h1>Beautiful.</h1>
        </div>
        <span><i class="fas fa-angle-double-down"></i></span>
    </div>
    <div class="introduction-wrapper">
        <div class="introduction">

        </div>
    </div>
    <div class="profile-wrapper">
        <div class="profile container">
            <div class="profile-contents">
                <h1>Hello</h1>
            </div>
            <div class="profile-img-box">
                <img class="profile-img" src="{% static 'blog/images/profile.jpg' %}" alt="プロフィール" height="600px">
                <h1>Koki Ionue</h1>
                <div class="status-list">
                    <span class="status">Tokyo, Japan</span><br>
                    <span class="keio status">Keio University</span><br>
                    <span class="status">#EDM #sea #programing #surfing #coffee</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
</body>